@charset "utf-8";
@import 'sass_base/mixin';
@import 'sass_base/animate';
@import 'sass_base/icon_arrow';

//基本設定
ul,li,dd,dt,dh {
    list-style: none;
}
svg {
    display: block;
}
.pc_only {
    @include pc_only();
}
.sp_only {
    @include sp_only();
}
.pc_display_flex_center {
    @include media($pc){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @include media($tab) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @include media($sp) {
        display: none;
    }
}
.sp_display_flex_center {
    @include media($pc){
        display: none;
    }
    @include media($tab) {
        display: none;
    }
    @include media($sp) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.wapper {
    @include wapper_setting();
    
}
.t_center {
    text-align: center;
}
@for $i from 0 through 60 {
    $list : $i * 5;
    .margin_#{$list} {
        @include marginPercent(1920 , $list , auto , 0 , auto );
    }
    .margin_wapper_#{$list} {
        @include marginPercent(960 , $list , auto , 0 , auto );
    }
    @for $x from 0 through 60 {
	$listx : $x * 5;
	.padding_top_#{$i * 5}_bottom_#{$x * 5} {
		@include paddingPercent(1920 , $list , 0 , $listx , 0);
	}
    }
}
.kinout_text {
  text-align: justify;
  text-justify: inter-ideograph;    
}


.color_ff0000 {
    color: #FF0000;
}
//トップページ部分
@import 'main_include/index/_index';

//フォーム
@import 'main_include/page/_contact';
//フッター部分
@import 'main_include/footer/_footer';
@import 'lightbox.min';